.wrapper {
  background-color: #06092b;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 25rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 2.5rem;
}

.description {
  font-size: 2rem;
  font-weight: 400;
}

.illustration {
  margin-top: 3rem;
  width: min(30rem, 100%);
}
